table {
	width: 100%;
}

.hide {
	display: none;
}

#myPopupDialog {
  min-width: 350px;
}

#tableList {
  border-spacing:0; /* Removes the cell spacing via CSS */
  border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
}

	#tableList tr th {
	  line-height: 3em;
	  border-bottom: 1px ridge #338EC3;
	}
	
	#tableList tbody tr td{
		border-bottom: 1px solid #ddd;
		color: #BDBDBD;
		padding-left: 6px;
	}
	
	#tableList tbody tr.selected td {
    color: #333;
  }
	
	#tableList tr:not(.disabled) td:hover {
	 background: #E4E4E4;
	}
	
  #tableList label {
    margin: 0;
    padding: 0;
  }

	  #tableList label .original,
	  #tableList label .edited,
	  #tableList label .chkbox {
	    display: inline-block;
	    padding:.3em 0 .3em 0;
	  }
	  
	  #tableList label .original,
	  #tableList label .edited,
	  #tableList th {
	    width: 48%;
	  }
	  
	  #tableList label .chkbox,
	  #tableList th:first-child {
	    width: 30px;
	  }
	  
	  #tableList th:first-child {
	    padding-left: 6px;
	    text-align: left;
	  }
	  
  