table {
	width: 100%;
}

.hide {
	display: none;
}

#myPopupDialog {
  min-width: 350px;
}

#tableList tbody tr td{
	border-bottom: 1px solid #ddd;
	color: #BDBDBD;
}

#tableList tbody tr.selected td {
	color: #333;
}
  #tableList label .original,
  #tableList label .edited,
  #tableList label .chkbox {
    display: inline-block;
  }
  
  #tableList label .chkbox {
    width: 30px;
  }
  
  #tableList label .original,
  #tableList label .edited {
    width: 34em;
  }