
<table id="tableCondition" class="ui-responsive ui-shadow" data-role="table" >
	<thead>
		<tr>
			<th data-priority="1"></th>
			<th data-priority="2"></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><label>Has season </label></td>
			<td><input type="checkbox" id="hasSeason" checked="checked" /></td>
		</tr>
			<tr>
			<td><label>Season </label></td>
			<td><select id="season"></select></td>
		</tr>
		<tr>
			<td><label>Title </label></td>
			<td><input id="title" type="text" value="Leverage"/></td>
		</tr>
		<tr>
			<td><label>Directory </label></td>
			<td><input id="directory" type="text" value="C:\Users\USER\Videos\Vids\SERIES\LEVERAGE\Season 4"/></td>
		</tr>
	</tbody>
</table>
<button id="btnCheck">Check files</button>
