<div data-role="page" id="indexView">
	<div data-role="main" class="ui-content">
		<a href="#indexView" id="btnIndexView" data-transition="pop" style="display:none;"></a>
		<%= popupMsgView %>
		<%= conditionView %>

		<div id="result"></div>
	</div>
</div>