<% if( responseName != "result" ) { %>
<table id="tableList" class="ui-responsive ui-shadow" data-role="table">
	<thead>
		<tr>
			<th>ORIGINAL</th>
			<th>NEW</th>
		</tr>
	</thead>
	<tbody>
		<% for (var idx in list) { %>
		<tr>
			<td><%=list[idx].filename.original%>.<%=list[idx].ext %></td>
			<td><%=list[idx].filename.edited%>.<%=list[idx].ext %></td>
		</tr>
		<% } %>
	</tbody>
</table>
<% } %>

