<div data-role="popup" id="myPopupDialog" data-transition="flow">
  <div data-role="header"><h1></h1></div>
  <div data-role="main" class="ui-content">
    <p></p>
    <a href="#" class="ui-btn ui-corner-all ui-btn-inline ui-btn-b" data-rel="back">OK</a>
  </div>
</div>
